<nav class="navbar navbar-fixed-top">
  <nav class="navbar-inner">
    <section class="container">
      <a class="brand">Kickstrap</a>
    </section>
  </nav>
</nav>

<section class="container demo">
  <article class"row">
    <img src="Kickstrap/img/logo.png" /> 
    <h3>Welcome to Kickstrap</h3>
    <p>Begin creating your site by copying in snippets from the <a href="http://twitter.github.com/bootstrap/">Bootstrap library.</a></p>
  </article>
</section>
