<section class="container demo">
  <article class"row">
    <img src="Kickstrap/img/logo.png" style="display: block;margin: 0px auto;"/>
    <h1 style="text-align: center">Welcome to Kickstrap</h1>
  </article>
</section>
